In [20]:
import os,sys,inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.insert(0,parentdir)

In [21]:

currentdir

'/Users/dmitrymikhaylov/Documents/code/azure/udacity/camels-risk-profile-classification/Untitled Folder'

In [22]:
parentdir

'/Users/dmitrymikhaylov/Documents/code/azure/udacity/camels-risk-profile-classification'

In [ ]:

scripts.load_dat()

In [24]:
from scripts import helpers

In [25]:
path= "https://raw.githubusercontent.com/allaccountstaken/camels-risk-profile-classification/main/data/camel_data_after2010Q3.csv"
df = helpers.load_data(path)
df.head()

,AsOfDate,Target,EQTA,EQTL,LLRTA,LLRGL,OEXTA,INCEMP,ROA,ROE,TDTL,TDTA,TATA
1252,12/31/2009,1,0.008644,0.010834,0.092012,0.115320,0.025272,-593.165644,-0.136337,-15.772594,1.232007,0.982991,0.112894
3287,12/31/2009,1,0.078408,0.189268,0.003523,0.008503,0.022508,20.900000,0.003875,0.049421,2.205290,0.913583,0.358536
5672,12/31/2009,1,0.002112,0.003144,0.066657,0.099216,0.034378,-323.516556,-0.058455,-27.677620,1.383128,0.929228,0.135505
5702,12/31/2009,1,0.015982,0.021148,0.030035,0.039743,0.039763,-153.596354,-0.049911,-3.123001,1.195850,0.903733,0.094482
8221,12/31/2009,1,0.011542,0.013393,0.041798,0.048502,0.038922,-217.888889,-0.069640,-6.033846,1.145630,0.987286,0.098334

In [26]:
ds = helpers.clean_data(df)

In [27]:
ds

(             EQTA       EQTL     LLRTA     LLRGL     OEXTA      INCEMP  \
 1252     0.008644   0.010834  0.092012  0.115320  0.025272 -593.165644
 3287     0.078408   0.189268  0.003523  0.008503  0.022508   20.900000
 5672     0.002112   0.003144  0.066657  0.099216  0.034378 -323.516556
 5702     0.015982   0.021148  0.030035  0.039743  0.039763 -153.596354
 8221     0.011542   0.013393  0.041798  0.048502  0.038922 -217.888889
 ...           ...        ...       ...       ...       ...         ...
 4041421  0.137583   0.627601  0.000030  0.000139  0.014422   80.990769
 4114567  0.088101   0.110318  0.000205  0.000257  0.006203   46.455670
 4160667  0.133252   0.178635  0.000013  0.000017  0.005188   85.779221
 4165907  0.770208  16.588064  0.001014  0.021834  0.069140 -143.142857
 4184186  0.104075   0.186904  0.000037  0.000066  0.004862   13.052459

               ROA        ROE      TDTL      TDTA      TATA
 1252    -0.136337 -15.772594  1.232007  0.982991  0.112894
 3287     0.003875   0.049421  2.205290  0.913583  0.358536
 5672    -0.058455 -27.677620  1.383128  0.929228  0.135505
 5702    -0.049911  -3.123001  1.195850  0.903733  0.094482
 8221    -0.069640  -6.033846  1.145630  0.987286  0.098334
 ...           ...        ...       ...       ...       ...
 4041421  0.010562   0.076767  3.434820  0.752980  0.621207
 4114567  0.003079   0.034947  1.081685  0.863838  0.004055
 4160667  0.016813   0.126171  0.975221  0.727462  0.059737
 4165907 -0.067721  -0.087926  4.921397  0.228508  0.135442
 4184186  0.002934   0.028189  1.498431  0.834379  0.024833

 [7014 rows x 11 columns],
 array([[1],
        [1],
        [1],
        ...,
        [0],
        [0],
        [0]]))